header { 
    position: sticky;
    top: 0;
    display: block;
    background-color: var(--banner-color);
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    z-index: 1000;
}

header .header-container-layer-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-size: 18px;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: "Walter Turncoat", cursive;    
    /*color: lightgoldenrodyellow;*/
    color: var(--gradient-panels-start)
}

header .header-container-layer-theme {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    margin-right: 5px;
}

header .header-container-layer-theme p {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightgoldenrodyellow;
}


header nav {
    display: flex;
    vertical-align: center;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px lightgoldenrodyellow solid;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

header nav ul li:hover {
    background-color: white;
    color: darkblue;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
}

header nav ul li a:hover {
    color: inherit;
}

header nav ul .button-img {
    width: auto;
    height: 15px;
}

/* MEDIA QUERIES OVERRIDE */
@media screen and (max-width: 600px) {
    header .header-container-layer-one {
        display: block;
    }

    header nav {
        margin-top: 10px;
    }

    header .header-container-layer-theme {
        justify-content: flex-start;
    }
}

